<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Cropping Image</title>
		<link rel="stylesheet" href="{fVars.pubPath}Css/extension.min.css">
	</head>
	<body>
		<div id="image">
			<figure>
				<img src="{fVars.publicUrl}" alt="{fVars.imgName}" style="width:{fVars.imgWidth}px; height:{fVars.imgHeight}px" id="cropbox">
			</figure>
		</div>
		<div id="values">
			<h2>{f:translate(key: 'editor.title')}</h2>

			<form id="edit">
				<fieldset>
					<div class="formRow">
						<label for="x1">X1</label>
						<input type="text" id="x1" value="">
						<label for="y1">Y1</label>
						<input type="text" id="y1" value="">
					</div>
					<div class="formRow">
						<label for="x2">X2</label>
						<input type="text" id="x2" value="">
						<label for="y2">Y2</label>
						<input type="text" id="y2" value="">
					</div>
					<div class="formRow">
						<label for="w">W</label>
						<input type="text" id="w" readonly>
						<label for="h">H</label>
						<input type="text" id="h" readonly>
					</div>
					<div class="formRow">
						<label for="aspectRatio">{f:translate(key: 'editor.aspectratio')}</label>
						<input type="text" id="aspectRatio" value="">
						<label for="setAR">&nbsp;</label>
						<input type="button" id="setAR" value="Set AR"/>
					</div>
				</fieldset>
			</form>

			<div id="controller">
				<div id="save" class="btn">{f:translate(key: 'editor.close')}</div>
			</div>
		</div>

		<script src="{fVars.pubPath}Js/jquery-1.10.2.min.js"></script>
		<script src="{fVars.pubPath}Js/jquery.imgareaselect-0.9.10.min.js"></script>
		{script -> f:format.raw()}
		<script src="{fVars.pubPath}Js/extension.js"></script>
	</body>
</html>