
body{
    background-color: #666;
	font-family: Verdana;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	height: 600px;
	width: 800px;
}

h2{
	color: #ccc;
	font-size: 100%;
}

#image{
	float:left;
}
#values{
	float:right;
	width: 185px;
}

fieldset{
    border:1px solid #f90;
}
input{
    margin-top: 6px;
    margin-bottom: 6px;
}
