body {
	background-color: #666;
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 600px;
	width: 800px;
}

h2 {
	color: #ccc;
	font-size: 100%;
}

#image {
	float: left;
	padding: 10px;
	figure {
		margin: 0;
	}
}
#values {
	float: right;
	width: 180px;
	fieldset {
		border: 1px solid #f90;
		.formRow {
			clear: both;
			margin: 6px 0;
			overflow: auto;
		}
		label {
			display: block;
			float: left;
			margin: 4px 4px;
			width: 16px;
		}
		input {
			border: none;
			float: left;
			padding: 2px;
			width: 48px;
		}
		input[type="button"]{
			cursor: pointer;
			height: 18px;
			margin: 0;
			width: 52px;
		}
	}
	.btn {
		background: #ccc;
		border: 1px solid #999;
		padding: 6px;
		cursor: pointer;
		height: 18px;
		margin: 6px 0;
		width: 120px;
	}
}

/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(img/border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
	background: url(img/border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
	background: url(img/border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
	background: url(img/border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
	background-color: #fff;
	border: solid 1px #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}


