body {
  background-color: #666;
  font-family: Arial;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 800px;
}
h2 {
  color: #ccc;
  font-size: 100%;
}
#image {
  float: left;
  padding: 10px;
}
#image figure {
  margin: 0;
}
#values {
  float: right;
  width: 180px;
}
#values fieldset {
  border: 1px solid #f90;
}
#values fieldset .formRow {
  clear: both;
  margin: 6px 0;
  overflow: auto;
}
#values fieldset label {
  display: block;
  float: left;
  margin: 4px 4px;
  width: 16px;
}
#values fieldset input {
  border: none;
  float: left;
  padding: 2px;
  width: 48px;
}
#values fieldset input[type="button"] {
  cursor: pointer;
  height: 18px;
  margin: 0;
  width: 40px;
}
#values fieldset input#aspectRatio {
  margin-right: 10px;
  width: 70px;
}
#values .btn {
  background: #ccc;
  border: 1px solid #999;
  padding: 6px;
  cursor: pointer;
  height: 18px;
  margin: 6px 0;
  width: 120px;
}
#values #save {
  display: none;
}
/*
 * imgAreaSelect default style
 */
.imgareaselect-border1 {
  background: url(img/border-v.gif) repeat-y left top;
}
.imgareaselect-border2 {
  background: url(img/border-h.gif) repeat-x left top;
}
.imgareaselect-border3 {
  background: url(img/border-v.gif) repeat-y right top;
}
.imgareaselect-border4 {
  background: url(img/border-h.gif) repeat-x left bottom;
}
.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4 {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-handle {
  background-color: #fff;
  border: solid 1px #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-outer {
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
