html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #494949;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #cccccc;
  height: 100%;
  width: 100%;
}
.cropfields {
  height: 26px;
  padding: 6px;
  width: 100%;
}
.cropfields form {
  float: left;
}
.cropfields form label {
  display: block;
  float: left;
  margin: 1px 4px;
  padding: 0;
}
.cropfields form input {
  border: none;
  border-radius: 2px;
  float: left;
  font-size: 13px;
  padding: 2px;
  margin-right: 6px;
  width: 40px;
}
.cropfields form input[readonly="readonly"] {
  border: 1px solid #cccccc;
  background-color: #494949;
  color: #cccccc;
  padding: 1px;
}
.cropfields .btn {
  background: #cccccc;
  border-radius: 2px;
  color: #494949;
  display: inline-block;
  float: left;
  cursor: pointer;
  height: 16px;
  line-height: 14px;
  font-weight: 400;
  padding: 2px 6px;
  margin-left: 6px;
}
.cropfields #save {
  display: none;
}
#image {
  display: inline-block;
  width: auto;
  height: 95%;
}
#cropbox {
  width: auto;
  height: 100%;
}
/*
 * imgAreaSelect default style
 */
.imgareaselect-border1 {
  background: url(img/border-v.gif) repeat-y left top;
}
.imgareaselect-border2 {
  background: url(img/border-h.gif) repeat-x left top;
}
.imgareaselect-border3 {
  background: url(img/border-v.gif) repeat-y right top;
}
.imgareaselect-border4 {
  background: url(img/border-h.gif) repeat-x left bottom;
}
.imgareaselect-border1,
.imgareaselect-border2,
.imgareaselect-border3,
.imgareaselect-border4 {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-handle {
  background-color: #fff;
  border: solid 1px #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-outer {
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.imgareaselect-selection {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
